@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------------------------------------------------------------------*
 * Body
 *----------------------------------------------------------------------------*/
@layer base {
  body {
    @apply font-sans font-normal leading-normal bg-white text-githubPrimaryTextColor;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/*----------------------------------------------------------------------------*
 * Link (box)
 *----------------------------------------------------------------------------*/
/* Resembling a button, grey background on hover, may include icon */
@layer components {
  ._box-link {
    @apply no-underline text-githubPrimaryTextColor rounded-lg _padding _h-flex;
  }
  ._box-link:hover {
    @apply no-underline text-githubPrimaryTextColor bg-githubBoxLinkHoverBgColor;
  }
}

/*----------------------------------------------------------------------------*
 * Link (classic)
 *----------------------------------------------------------------------------*/
/* Classical link, underline and different text colour on hover */
@layer components {
  ._classic-link {
    @apply no-underline;
  }
  ._classic-link:hover {
    @apply underline text-githubActionColor;
  }
  ._classic-link:focus {
    @apply _focus;
  }
}

/*----------------------------------------------------------------------------*
 * Button
 *----------------------------------------------------------------------------*/
/* TODO: define different types of buttons */
@layer components {
  ._button {
    @apply bg-githubBgColor text-githubButtonTextColor font-semibold border border-githubBorderColor rounded-md _padding _h-flex;
  }
  ._button:hover {
    @apply bg-githubButtonHoverBgColor;
  }
}

/*----------------------------------------------------------------------------*
 * SortableJS drag-and-drop
 *----------------------------------------------------------------------------*/
/* Use 'utilities' instead of 'components' to avoid loss by tree-shaking */
@layer utilities {
  /* Applied to chosenClass in Sortable.create() in App.svelte */
  ._sortable-chosen {
    @apply bg-sortableChosenBgColor border border-githubBorderColor opacity-80;
  }
  /* TODO: when defining .sortable-ghost and assigning it to ghostClass in
   * App.svelte, it is never applied. */
}

/*----------------------------------------------------------------------------*
 * Utilities
 *----------------------------------------------------------------------------*/

@layer utilities {
  /* Frame when focusing on an element (usually using the tab key) */
  ._focus {
    @apply ring ring-githubActionColor rounded-md;
  }
  /* Horizontally arrange multiple elements (e.g. icon and text) */
  ._h-flex {
    @apply flex items-center gap-1;
  }
  /* Regular icon size */
  ._icon {
    @apply w-4 h-4;
  }
  /* Regular padding */
  ._padding {
    @apply px-2 py-1;
  }
}


/*----------------------------------------------------------------------------*
 * Misc
 *----------------------------------------------------------------------------*/

/* Disable hover actions (e.g. underlining, pointer cursor) during DnD */
._disable-pointer-events a,
._disable-pointer-events button {
  pointer-events: none !important;
}

/* Overwrite ProjectCard 'cursor: grab' with 'grabbing' during DnD to prevent
 * 'dragging' cursor from changing to 'drag' when hovering over ProjectCard */
body._cursor-grab-to-grabbing .cursor-grab {
  cursor: grabbing !important;
}
