@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------------------------------------------------------------------*
 * Body
 *----------------------------------------------------------------------------*/
@layer base {
  body {
    @apply font-sans font-normal leading-normal bg-white text-githubPrimaryTextColor;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer components {

  /*--------------------------------------------------------------------------*/
  /* White & Black Colors */
  /*--------------------------------------------------------------------------*/
  ._text-white {
    @apply text-white;
  }

  ._text-black {
    @apply text-gray-900;
  }

  ._bg-white {
    @apply bg-white;
  }

  ._bg-black {
    @apply bg-gray-900;
  }

  ._bg-black-hover {
    @apply bg-gray-800;
  }

  /*--------------------------------------------------------------------------*/
  /* Gray Colors */
  /*--------------------------------------------------------------------------*/
  ._text-gray-black {
    @apply text-gray-700;
  }

  ._text-gray {
    @apply text-gray-500;
  }

  ._text-gray-button {
    @apply text-gray-400;
  }

  ._text-gray-button-disabled {
    @apply text-gray-300;
  }

  ._bg-gray-black {
    @apply bg-gray-700;
  }

  ._bg-gray-regular {
    @apply bg-gray-200;
  }

  ._bg-gray-light {
    @apply bg-githubBgColor;
  }

  ._border-gray-regular {
    @apply border-gray-400;
  }

  ._border-gray-light {
    @apply border-gray-200;
  }

  /*--------------------------------------------------------------------------*/
  /* Red Colors */
  /*--------------------------------------------------------------------------*/
  ._text-red {
    @apply text-red-600;
  }

  ._bg-red-light {
    @apply bg-red-50;
  }

  ._bg-red-regular {
    @apply bg-red-600;
  }

  ._bg-red-dark {
    @apply bg-red-700;
  }

  ._border-red {
    @apply border-red-300;
  }

  ._ring-red {
    @apply ring-red-500;
  }

  /*--------------------------------------------------------------------------*/
  /* Blue Colors */
  /*--------------------------------------------------------------------------*/
  ._text-blue {
    @apply text-blue-600;
  }

  ._bg-blue-light {
    @apply bg-blue-50;
  }

  ._bg-blue-regular {
    @apply bg-blue-600;
  }

  ._bg-blue-dark {
    @apply bg-blue-700;
  }

  ._border-blue {
    @apply border-blue-300;
  }

  ._ring-blue {
    @apply ring-blue-500;
  }

  /*--------------------------------------------------------------------------*/
  /* Text Interaction States */
  /*--------------------------------------------------------------------------*/
  ._text-link-hover {
    @apply hover:_text-blue;
  }

  /*--------------------------------------------------------------------------*/
  /* Text Sizing */
  /*--------------------------------------------------------------------------*/
  ._text-regular {
    @apply text-base;
  }

  ._text-regular-small {
    @apply text-sm;
  }

  ._text-small {
    @apply text-xs;
  }

  ._text-large {
    @apply text-lg;
  }


  /*--------------------------------------------------------------------------*/
  /* Dropdown Item Highlighting */
  /*--------------------------------------------------------------------------*/
  ._dropdown-item-highlight {
    @apply _bg-gray-regular _text-gray-black;
  }

  ._dropdown-item-highlight * {
    @apply _text-gray-black;
  }

  /*--------------------------------------------------------------------------*/
  /* Icon Sizing */
  /*--------------------------------------------------------------------------*/
  ._icon-small > * {
    @apply w-4 h-4;
  }

  ._icon-normal > * {
    @apply w-5 h-5;
  }

  ._icon-large > * {
    @apply w-6 h-6;
  }

  /*--------------------------------------------------------------------------*/
  /* Icon Buttons */
  /*--------------------------------------------------------------------------*/
  ._icon-button {
    @apply p-1 _text-gray-button rounded transition-colors focus:outline-none;
  }

  ._icon-button-hover-blue {
    @apply _icon-button hover:_text-blue hover:_bg-blue-light;
  }

  ._icon-button-hover-red {
    @apply _icon-button hover:_text-red hover:_bg-red-light;
  }

  ._icon-button-hover-neutral {
    @apply _icon-button hover:_text-black;
  }

  ._icon-button-disabled {
    @apply _icon-button _text-gray-button-disabled hover:_bg-gray-light cursor-not-allowed;
  }

}
